@charset "UTF-8";

body {
    background-color: rgb(152, 241, 92);
}

h1 {
    color: rgb(4, 109, 0);
}
h1#titulo-principal {
    text-align: center;
    background-color: rgb(4, 109, 0);
    color: white;
}

h2 {
    color: rgb(49, 75, 47);
}

.basico {
    color: rgb(49, 75, 47)
}

.intermediario {
    color: rgb(136, 146, 43)
}

.avancado {
    color: rgb(110, 44, 44)
}

.destaque {
    background-color: rgb(141, 141, 23);
}