@charset "UTF-8";

* {
    font-family: Arial, Helvetica, sans-serif;
    /*height: 100%;*/
}
body {
    background-image: linear-gradient(to right, #F2E3D5, #F2D194);
}
main {
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 15px #6e5f429f;
    width: 600px;
    padding: 10px;
    margin: auto;
}
h1 {
    color: #402116;
    text-align: center;
    text-shadow: 1px 1px 3px #22120c98;
}
h2 {
    color: #F2994B;
}
p {
    text-align: justify;
}
